@model PP_RestaurantReview.Models.ViewModels.DetailsRestaurant

@{
    ViewBag.Title = "Details";
}

<a href="/Restaurant/List">Go back to Restaurant List</a>
<br />
<a href="/Restaurant/Edit/@Model.SelectedRestaurant.RestaurantId">Update</a>
<br/>
<a style="color:#ab2020;" href="/Restaurant/DeleteConfirm/@Model.SelectedRestaurant.RestaurantId">Delete</a>

<h2>@Model.SelectedRestaurant.RestaurantName</h2>

<div> Cuisine: @Model.SelectedRestaurant.CuisineType</div>
<div> Address: @Model.SelectedRestaurant.Address</div>
<div> Link: @Model.SelectedRestaurant.RestaurantLink</div>
<div> Description: @Model.SelectedRestaurant.Description</div>


<div style="margin-top:100px;">
    <h3> Reviews for @Model.SelectedRestaurant.RestaurantName</h3>
    <a href="/Review/New"> Add Review </a>
    <br />

    @foreach (var review in Model.RelatedReviews)
    {
        <h2> <a href="/Review/Details/@review.ReviewId">@review.RestaurantName by @review.UserId on @review.ReviewDate</a></h2>
        <div>@review.ReviewRating / 5</div>
        <div>@review.ReviewComment</div>
    }
</div>