@model IEnumerable<PP_RestaurantReview.Models.RestaurantDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Restaurants</h2>
<a href="/Restaurant/New"> New Restaurant </a>
@foreach (var restaurant in Model)
{
    <h2><a href="/Restaurant/Details/@restaurant.RestaurantId"> @restaurant.RestaurantName </a></h2>
    <div> Cuisine: @restaurant.CuisineType </div>
    <div> Link: @restaurant.RestaurantLink </div>
    <div> Address: @restaurant.Address </div>
    <div> Description: @restaurant.Description </div>
}